<style>
  @media (min-width: 490px) {
    .video-container img {
      object-position: var(--hero-photo-focus) 0px;
    }
  }
  @media (min-width: 1063px) {
    .video-container .landing-title-container {
      left: var(--hero-text-alignment);
      width: max-content;
    }
  }
</style>
