<style>
  :root {
    --clr-primary: {{ settingscolors.clr_primary }};
    --clr-secondary: {{ settingscolors.clr_secondary }};
    --clr-secondary-hover: {{ settingscolors.clr_secondary_hover }};
    --clr-btn: {{ settingscolors.clr_btn }};
    --bg-color: {{ settingscolors.bg_color }};
    --bg-color-rgb: {{ settingscolors.bg_color_rgb }};

    --clr-bg-concerts: {{ settingscolors.clr_bg_concerts }};
    --text-color: {{ settingscolors.text_color }};
    --hamburger-bg-color:  {{ settingscolors.hamburger_bg_color }};
    --clr-hero-text:  {{ settingscolors.clr_hero_text }};
    --gradient: {{ settingscolors.gradient }};
    --primary-font: {{ settingsfonts.primary_font }};
    --secondary-font: {{ settingsfonts.secondary_font }};
    --container-width: {{ sitesettings.spacing.container_width }};
    --section-padding: {{ sitesettings.spacing.section_padding }};
    --boxshadow: {{ sitesettings.effects.box_shadow }};
    --border-radius: {{settingsbuttons.border_radius}};
    --button-color: {{settingsbuttons.button_color}};
    --hero-photo-focus: {{ home.title_alignment }};
    --hero-text-alignment: {{ home.text_alignment }};
    --hero-arrow: {{ home.arrow }};
    --border-size: {{ sitesettings.borders.border_size }};
    --border-color: {{ sitesettings.borders.border_color }};


  }
</style>
