@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgba(0, 0, 0, 0.7);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
     * 3DX
     */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DX Reverse
     */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before,
.hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DY
     */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DY Reverse
     */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before,
.hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DXY
     */
.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DXY Reverse
     */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before,
.hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * Arrow
     */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
     * Arrow Right
     */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
     * Arrow Alt
     */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
     * Arrow Alt Right
     */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
     * Arrow Turn
     */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
     * Arrow Turn Right
     */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
     * Boring
     */
.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
     * Collapse
     */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Collapse Reverse
     */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Elastic
     */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
     * Elastic Reverse
     */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
     * Emphatic
     */
.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
     * Emphatic Reverse
     */
.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
     * Minus
     */
.hamburger--minus .hamburger-inner::before,
.hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before,
.hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
     * Slider
     */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
     * Slider Reverse
     */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
     * Spin
     */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Spin Reverse
     */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Spring
     */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
     * Spring Reverse
     */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Stand
     */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Stand Reverse
     */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Squeeze
     */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Vortex
     */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
     * Vortex Reverse
     */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before,
.hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before,
.hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
}

.border-top {
  border-top: var(--border-size) solid var(--border-color);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-media {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.container-without-padding {
  max-width: 960px;
  margin: 0 auto;
}

.fadeIn,
.fadeInVideo,
.fadeInPhoto,
.fadeInTitle,
.fadeInLanding {
  opacity: 0;
  visibility: hidden;
}

.page-title {
  padding-top: 0.5em;
  margin-bottom: 1em;
  color: var(--clr-primary);
  font-weight: 200;
  font-size: 40px;
}

.page-subtitle {
  font-weight: 400;
  margin-bottom: 1em;
  color: var(--clr-secondary);
  font-size: 1.35em;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-thickness: 0.75px;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
}

a.page-subtitle:hover {
  color: var(--clr-primary);
}

.imgpress {
  max-width: 500px;
  margin-top: 2em;
}

.margin-top {
  margin-top: 2em;
}

body {
  font-family: var(--primary-font);
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.6;
}

a {
  color: var(--clr-secondary);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--clr-secondary-hover);
}

.btn {
  border: 0px;
  background: var(--clr-secondary);
  color: var(--clr-btn);
  display: block;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.7em 1.5em;
  border-radius: var(--border-radius);
  font-family: inherit;
  display: block;
  text-decoration: none;
  width: max-content;
  transition: background 0.2s ease, color 0.2s ease;
  font-weight: 400;
  outline: 5px solid var(--clr-secondary); /* Use outline instead of border */
  outline-offset: -5px;
}

.btn:hover,
.btn:focus {
  background: var(--clr-btn);
  color: var(--clr-secondary);
  /* Move the outline inside the button */
}

body {
  position: relative;
}

nav {
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid var(--clr-secondary);
  opacity: 0;
}

nav a,
.navdesktop a,
.fa-instagram .fa-square-facebook {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.fa-instagram {
  font-size: 23px;
  color: var(--clr-secondary);
}

.fa-square-facebook {
  font-size: 23px;
  color: var(--clr-secondary);
}

.navdesktop a {
  color: white;
}

.navdesktop .fa-brands {
  color: var(--clr-secondary);
}

.navdesktop a.navblack {
  color: var(--text-color);
}

.navdesktop a.navblack.current {
  color: var(--clr-primary);
}

nav a::before,
.navdesktop a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5px;
  background: var(--clr-primary);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav a:hover::before,
nav a:focus::before,
.navdesktop a:hover::before,
.navdesktop a:focus::before {
  transform: scale(0.95);
}

nav a:hover,
nav a:focus,
.navdesktop a:hover,
.navdesktop a:focus,
.fa-brands:hover {
  color: var(--clr-secondary);
}

nav .current,
.navdesktop .current {
  color: var(--clr-primary);
  font-weight: 400;
}

.navdesktop a.current {
  color: var(--clr-primary);
  font-weight: 400;
}

nav ul {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav li,
.navdesktop li {
  list-style: none;
}

.hamburger-container {
  position: relative;
}

.hamburger {
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  z-index: 11;
  background: var(--hamburger-bg-color);
  opacity: 0.8;
  box-shadow: var(--boxshadow);
  border-radius: 3px;
}

.hamburger-black,
.hamburger-black::before,
.hamburger-black::after {
  background: rgba(0, 0, 0, 0.7);
}

.footer {
  text-align: center;
  padding: 2em;
  color: var(--clr-primary);
}

.section-landing {
  position: relative;
}

.video-container {
  width: 100%;
  height: 110vh;
  display: flex;
  align-content: center;
  background: black;
  position: relative;
}

.video-container video,
.video-container img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-position: top;
  transition: all 2s ease-in-out;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1;
  transition: all 1s ease-in-out;
  pointer-events: none;
}

.video-container.loaded::before {
  background: rgba(92, 59, 33, 0.1);
}

.video-container img.imglarge {
  display: none;
}

.video-container img.imgsmall {
  display: block;
}

.video-container .landing-title-container {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure it's above the gradient */
  margin: 0 auto;
}

.landing-title,
.landing-subtitle {
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.landing-title {
  font-size: 65px;
  color: var(--clr-hero-text);
  margin-bottom: 10px;
}

.landing-subtitle {
  font-size: 50px;
  color: var(--clr-hero-text);
  font-weight: 200;
}

.fa-angle-down {
  position: absolute;
  color: var(--clr-hero-text);
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: 300;
  opacity: 70%;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0) translateX(-50%);
  }
  15% {
    transform: scale(1.05, 0.95) translateY(0) translateX(-50%);
  }
  30% {
    transform: scale(0.95, 1.05) translateY(-20px) translateX(-50%);
  }
  45% {
    transform: scale(1.02, 0.98) translateY(0) translateX(-50%);
  }
  57% {
    transform: scale(1, 1) translateY(0px) translateX(-50%);
  }
  64% {
    transform: scale(1, 1) translateY(0) translateX(-50%);
  }
  100% {
    transform: scale(1, 1) translateY(0) translateX(-50%);
  }
}
.fa-angle-down:hover {
  opacity: 100%;
}

.section-bio {
  padding-top: 2em;
}

.section-bio .btn,
.section-media .btn,
.section-cd .btn,
.section-more-concerts .btn {
  margin: 2em auto 3em;
}

.cd-image-container {
  position: relative;
  box-shadow: var(--boxshadow);
  overflow: hidden;
}

.cd-image {
  transition: transform 0.2s ease-out;
}

.cd-image:hover {
  transform: scale(1.05);
}

.spotify {
  box-shadow: var(--boxshadow);
}

.cd-image-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: -1;
}

.more-concerts {
  margin: 1em auto 2em;
}

.bio-teaser a {
  color: var(--clr-primary);
  transition: color 0.2s ease-out;
}

.bio-teaser a:hover {
  color: red;
}

.section-media .btn {
  margin-top: 2em;
}

.next-concert {
  font-weight: 200;
  color: var(--clr-primary);
  margin-bottom: 1em;
  font-size: 2em;
}

.section-quote {
  font-family: var(--secondary-font), serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.2px;
  font-size: 1.1rem;
  position: relative;
  padding: 2em 1.5em;
  margin: 0em;
  overflow: hidden;
}

.section-quote::before,
.section-quote::after {
  position: absolute;
  font-family: var(--secondary-font), serif;
  font-size: 500px;
  color: var(--clr-primary);
  opacity: 0.2;
  font-style: normal;
}

.section-quote::before {
  content: "“";
  top: -180px;
  left: -80px;
  overflow-y: hidden;
}

.section-quote::after {
  content: "”";
  right: -50px;
  bottom: -350px;
  overflow-y: hidden;
}

.quote-author {
  margin-top: 1em;
  text-align: right;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  box-shadow: var(--boxshadow);
}

.iframe-container iframe,
.iframe-container .youtubethumbnail {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.youtubethumbnail {
  z-index: 100;
  object-position: center;
  object-fit: cover;
  pointer-events: none;
}

.iframe {
  pointer-events: all;
}

.home-last-image {
  position: relative;
  box-shadow: var(--boxshadow);
}

.section-onemore {
  padding: 0;
}

/* FOR VERSION 2 */
.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(var(--bg-color-rgb), 0) 0%, rgba(var(--bg-color-rgb), 0.013) 8.1%, rgba(var(--bg-color-rgb), 0.049) 15.5%, rgba(var(--bg-color-rgb), 0.104) 22.5%, rgba(var(--bg-color-rgb), 0.175) 29%, rgba(var(--bg-color-rgb), 0.259) 35.3%, rgba(var(--bg-color-rgb), 0.352) 41.2%, rgba(var(--bg-color-rgb), 0.45) 47.1%, rgba(var(--bg-color-rgb), 0.55) 52.9%, rgba(var(--bg-color-rgb), 0.648) 58.8%, rgba(var(--bg-color-rgb), 0.741) 64.7%, rgba(var(--bg-color-rgb), 0.825) 71%, rgba(var(--bg-color-rgb), 0.896) 77.5%, rgba(var(--bg-color-rgb), 0.951) 84.5%, rgba(var(--bg-color-rgb), 0.987) 91.9%, rgba(var(--bg-color-rgb), 1) 100%);
  z-index: 1;
  pointer-events: none;
}

.biografie {
  margin-bottom: 1em;
}

.biografie p {
  margin-bottom: 1.5em; /* Adjust as needed for spacing between paragraphs */
  line-height: 1.6;
}

.background-concertgebouw::before {
  background-image: url(/assets/img/mahij.jpg);
}

.image-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.page-bio {
  background: var(--bg-color);
}

.bio-box {
  border-left: 5px solid var(--clr-secondary);
  padding: 1em;
  background: rgba(99, 136, 161, 0.08);
  box-shadow: var(--boxshadow);
}

.media-title {
  color: var(--clr-primary);
  font-weight: 300;
  margin-bottom: 1em;
}

.media-video {
  margin-bottom: 1.5em;
  background: transparent;
  position: relative;
}

.media-video-margin {
  margin-bottom: 1.5em;
}

.videobackground {
  background-image: linear-gradient(212deg, rgb(206, 206, 206) 0%, rgb(102, 102, 102) 93%);
}

.photographer {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  color: white;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.boxshadow {
  box-shadow: var(--boxshadow);
}

.all-items {
  margin-bottom: 1.5em;
}

.iframe-container {
  background: black;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  transition: color 0.2s ease;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--clr-primary);
}

/* Aspect Ratio Container */
.aspect-ratio {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.aspect-ratio::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
}

.aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styles for landscape images */
.photo-swiper-slide img.landscape {
  object-fit: cover;
}

/* Styles for portrait images */
.photo-swiper-slide img.portrait {
  object-fit: contain;
}

.photo-swiper {
  overflow: hidden;
}

/* Swiper Slide */
.photo-swiper-slide {
  width: 80%; /* Set a fixed width for slides, adjust as needed */
}

.background-image {
  position: relative;
}

.background-image::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.05;
}

.concert-poster {
  background: var(--clr-bg-concerts);
  box-shadow: var(--boxshadow);
  font-weight: 300;
  border-left: 10px solid var(--clr-secondary);
  padding: 1em;
}

.concert-location {
  padding-bottom: 1em;
}

.concert-poster + .concert-poster {
  margin-top: 2em;
}

.concert-date,
.concert-place,
.concert-hall,
.concert-time {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}

.archive {
  opacity: 0.85;
}

.concert-date {
  color: var(--clr-secondary);
  font-size: 1.3em;
  font-weight: 300;
}

.concert-hall {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--clr-primary);
}

.concert-place {
  margin-bottom: 1em;
}

.concert-repertoire {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 300;
}

.concert-musicians {
  margin-bottom: 1em;
}

.concert-tickets {
  margin-bottom: 0em;
}

.concert-cancelled {
  letter-spacing: 1;
  text-transform: uppercase;
  color: var(--clr-secondary);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 500px;
}

button[type=submit],
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: 0;
  box-shadow: var(--boxshadow);
  border-radius: 5px;
}

input,
textarea {
  padding: 1em;
  margin-bottom: 1.5em;
}

textarea {
  margin-bottom: 2em;
  resize: vertical;
  min-height: 100px;
}

label {
  color: var(--clr-secondary);
  margin-bottom: 0.2em;
}

input[type=submit] {
  background: var(--clr-secondary);
  padding: 0.75em 0;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: 5px solid var(--clr-secondary);
  outline-offset: -5px;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: var(--clr-btn);
  color: var(--clr-secondary);
}

.contact-invitation {
  color: var(--text-color);
}

.margin-bottom {
  margin-bottom: 2em;
}

.thank-you {
  margin-bottom: 1em;
}

.photographer-list li {
  line-height: 1.6;
  list-style: none;
}

@media (min-width: 600px) {
  .video-container video {
    object-position: 0px bottom;
  }
  .fa-angle-down {
    bottom: 1em;
  }
  .video-container img.imgsmall {
    display: none;
  }
  .video-container img.imglarge {
    display: block;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 1.25rem;
  }
  .video-container video {
    object-position: 0px bottom;
  }
  .video-container::before {
    background-position: 0px bottom;
  }
  .section-quote {
    font-size: 1.25rem;
  }
  .bio-box {
    border-left: 10px solid var(--clr-secondary);
    padding: 2em;
  }
  .all-photos {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
  }
  .all-photos img {
    cursor: pointer;
  }
}
@media (max-width: 880px) {
  .navcontainer {
    display: none;
  }
}
@media (min-width: 880px) {
  .video-grid {
    display: grid;
    grid-gap: 2rem;
    /* Partially responsive fallback */
    /* Fully responsive version */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .media-video-margin {
    margin-bottom: 0;
  }
  .hamburger-container {
    display: none;
  }
  .navcontainer {
    position: relative;
  }
  .navdesktop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    box-shadow: var(--boxshadow);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    z-index: 10;
    background: var(--bg-color);
  }
  .navdesktop ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    max-width: 960px;
    margin: 0 auto;
  }
  .navdesktop li a {
    font-size: 1.5rem;
  }
  .navdesktop.glass {
    /* From https://css.glass */
    background: rgba(var(--bg-color-rgb), 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .page-title {
    padding-top: 3em;
  }
}
@media (min-width: 1063px) {
  .hamburger {
    right: 0;
  }
  .section-quote {
    overflow: visible;
  }
  .container {
    padding: 0;
  }
  .flex {
    display: flex;
    gap: 2em;
  }
  .concert-hall {
    font-size: 2rem;
  }
  .concert-location {
    padding: 2em;
  }
  .concert-musicians {
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
