<section class="section-landing">
  <div class="video-container">
    <div class="overlay">
      <!-- Mobile image container -->
      <div class="imgsmall-container">
        {#
        <picture>
          <!-- Generated picture for mobile -->
          <source
            media="(max-width: 768px)"
            srcset="{{ home.image_mobile }}"
            type="image/webp"
          />
          #}
          <img
            src="{{ home.image_mobile }}"
            alt="Mobile image"
            class="background-video imgsmall"
          />
          {#
        </picture>
        #}
      </div>

      <!-- Desktop image container -->
      <div class="imglarge-container">
        {#
        <picture>
          #}
          <!-- Generated picture for desktop -->
          {#
          <source
            media="(min-width: 769px)"
            srcset="{{ home.image_desktop }}"
            type="image/webp"
          />
          #}
          <img
            src="{{ home.image_desktop }}"
            alt="Desktop image"
            class="background-video imglarge"
          />
          {#
        </picture>
        #}
      </div>
    </div>

    <!-- Gradient Overlay -->
    <div class="gradient-overlay"></div>

    <div class="landing-title-container {{ home.title_alignment }}">
      <h1 class="landing-title fadeInLanding">{{ home.name }}</h1>
      <p class="landing-subtitle fadeInLanding">
        {{ home["occupation_" + lang] }}
      </p>
    </div>
    {% if home.arrow %}
    <a href="#section-bio">
      <i class="fa fa-angle-down bounce-7" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>
</section>

<section
  class="section-bio {% if home.bottomborder %}border-top{% endif %}"
  id="section-bio"
>
  <div class="container bio-teaser fadeIn">
    <p class="bio-teaser">
      {{ home["bio_teaser_" + lang] | markdown | safe }}
    </p>
  </div>
  <p>
    <a
      href="{% if lang == 'nl' %}/nl/biografie{% else %}/en/biography{% endif %}"
      class="btn fadeIn"
    >
      {{ home["read_more_" + lang] }}
    </a>
  </p>
</section>

<div class="container-without-padding">
  <section class="section-media">
    <div class="iframe-container fadeInPhoto border-top">
      <iframe
        class="iframe"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ home.youtube_id }}"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <a
      href="{% if lang == 'nl' %}/nl/media{% else %}/en/media{% endif %}"
      class="btn fadeIn"
    >
      {{ home["more_videos_" + lang] }}
    </a>
  </section>
</div>

<div class="container-without-padding">
  <section class="section-quote">
    <p class="quote fadeIn">{{ home["quote_" + lang] }}</p>
    <p class="quote-author fadeIn">{{ home.quote_author }}</p>
  </section>
</div>

{% set next_concert = collections.concerts | nextConcert %} {% if next_concert
%}
<section class="container section-more-concerts">
  <h2 class="next-concert fadeIn">
    {{ home["next_concert_" + lang] }}
  </h2>

  <div class="concert-poster fadeIn">
    <div class="concert-location">
      <p class="concert-date">
        {{ next_concert.data.date | formatDate('d MMMM yyyy', lang) }}

        {% if next_concert.data.time %} |
        {{ next_concert.data.time | formatTime }}
        {% endif %}
      </p>
      <p class="concert-hall">
        {{ next_concert.data["hall_" + lang] | default(next_concert.data.hall_nl) }}
      </p>
      <p class="concert-place">
        {{ next_concert.data["place_" + lang] | default(next_concert.data.place_nl) }}
      </p>
      <p class="concert-repertoire">
        {{ next_concert.data["repertoire_" + lang] | default(next_concert.data.repertoire_nl) }}
      </p>
      <p class="concert-musicians">
        {{ next_concert.data["musicians_" + lang] | default(next_concert.data.musicians_nl) | markdown | safe }}
      </p>
      {% if next_concert.data.cancelled %}
      <p class="concert-cancelled">
        {{ home["cancelled_" + lang] }}
      </p>
      {% endif %}
    </div>
  </div>

  <p>
    <a
      href="{% if lang == 'nl' %}/nl/agenda/{% else %}/en/calendar/{% endif %}"
      class="btn fadeIn more-concerts"
    >
      {{ home["more_concerts_" + lang] }}
    </a>
  </p>
</section>
{% endif %} {% if home.showspotify %}
<div class="container">
  <section class="section-cd fadeIn margin-bottom">
    <iframe
      class="spotify"
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/track/{{
        home.spotify_embed
      }}?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </section>
</div>

{% endif %} {% if home.show_quote2 %}
<div class="container-without-padding fadeIn">
  <section class="section-quote">
    <p class="quote fadeIn">
      {{ home["quote_cd_" + lang] | markdown | safe }}
    </p>
    <p class="quote-author fadeIn">{{ home.quote_cd_author }}</p>
  </section>
</div>
{% endif %}

<section class="section-onemore fadeIn">
  <div class="container-without-padding home-last-image border-top">
    <img src="{{ home.last_image }}" alt="" />
    <p class="photographer">{{ home.photographer }}</p>
  </div>
</section>
