<div class="container fadeIn">
  <h1 class="page-title">{{ success["title_" + lang] }}</h1>

  <p class="thank-you">
    {{ success["message_" + lang] }}
  </p>

  <a href="/{{ lang }}/" class="btn margin-bottom">{{
    success["button_" + lang]
  }}</a>
</div>
