<!-- src/index.njk -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/nl/" />
    <script type="text/javascript">
      window.location.href = "/nl/";
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    If you are not redirected automatically, follow the
    <a href="/nl/">link to the Dutch version</a> or
    <a href="/en/">link to the English version</a>.
  </body>
</html>
