body {
  font-family: var(--primary-font);
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.6;
}

a {
  color: var(--clr-secondary);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--clr-secondary-hover);
}
